nav {
  display: flex;
  height: 120px;
  width: 100%;
  top: 0;
  background-color: #b30101;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
  color: #FFF;
  padding: 1.5em;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 1;

  span {
    font-family: Bungee, sans-serif;
  }

  #rightNav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #rightNav i {
    color: #ffee00;
  }

  p {
    margin: 0;
  }
}

/* Media Queries ----- Desktop ----*/
@media only screen and (min-width: 1024px) {
  nav {
    position: fixed;
    background-color: #4056A1;
    background-image: none;
  }

  #rightNav i {
      color: rgb(243, 90, 90);
  }
}
