.new-tweet {
  width: 100%;
}

textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  background-color: #f4f1ec;
  outline: none;
}

.form-foot {
  display: flex;
  justify-content: space-between;
  font-family: Bungee, sans-serif;
}

button {
  background-color: #4056A1;
  color: #FFF;
}

.illegal {
  color: red;
}

#error {
  background-color: rgb(240, 216, 1);
  color: rgb(180, 15, 15);
  padding: 2em;
  text-align: center;
  font-weight: bold;
  display: none;
}

@media only screen and (min-width: 1024px) {
  .new-tweet h2 {
    margin-top: 0;
  }

  #error {
    margin-top: 0;
  }
}